@model IEnumerable<Hot_Desc.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<form class="text-center" method="get" asp-controller="Reservations" asp-action="Index">
    <div class="text-center">
        <p class="display-6">Choose employee</p>
        <select name="employeeId" class="form-select-lg w-50 text-center">
            <option value="" selected>-- Select --</option>
            @foreach (var item in ViewBag.Employees)
            {
                <option value="@item.EmployeeId">@item.FirstName @item.LastName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary px-3 py-2 my-4">Check reservations</button>
</form>

<div class="text-center">
    <p class="display-6">List of reservations</p>
    @if (ViewBag.Employee != null)
    {
        <p class="display-6">@ViewBag.Employee</p>
    }
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workplace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                Floor: @Html.DisplayFor(modelItem => item.Workplace.Floor)
                Room: @Html.DisplayFor(modelItem => item.Workplace.Room)
                Table: @Html.DisplayFor(modelItem => item.Workplace.Table)
            </td>
        </tr>
}
    </tbody>
</table>
